.DS_Store
.idea/.name
.idea/atabsplitter.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.DS_Store
styles/jquery.mobile-1.0.1.css
scripts/a.js